.black{
  background-color:#343a40;
}
/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Candal&family=Courier+Prime&family=EB+Garamond:wght@500&family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
.candal{
  font-family: Candal;
}
.ganja{
  font-family: 'Gamja Flower';
}
.courier{
  font-family: Courier;
}
.alkalami{
  font-family: alkalami;
  font-size: 35px;
}
/*Cores*/
/*#4d0000;*/
/*#024b61*/
.cinza{
  background-color: #343a40;
  color: white;
}
.azulclaro{
  background-color: #024b61;
  color: white;
}
.tamimg {
    max-width:300px;
    max-height:250px;
    width: auto;
    height: auto;
}
/*Banner e Ondas*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: #fff;
  font-size: max(60px, 4vw);
  font-family: Garamond,Candal, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}
header, section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
.
.section {
  background-color: #66c3d0;
}

header {
  background: #024b61;
  position: relative;
}

header h1 {
  background: #024b61;
  border: 5px solid white;
  padding: 10px 50px;
  margin: 50px;
  z-index: 2;
}
/*Responsividade para o banner*/
@media screen and (max-width: 400px){ 
  header h1 {
  background: #024b61;
  border: 5px solid white;
  padding: 5px 25px;
  margin: 25px;
  margin-buttom: 15px;
  z-index: 2;
  }
  h1 {
  color: #fff;
  font-size: max(30px, 2vw);
  font-family: Garamond,Candal, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  }
  .tituloanalise{
    font-size: 25px;
  }
  
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.wave-1 {
  animation: moveWave1 3s ease-in-out infinite alternate;
}

@keyframes moveWave1 {
  from {
    transform: translateX(-2000px);
  }
}

.wave-2 {
  animation: moveWave2 3s 1.2s ease-in-out infinite alternate;
}

@keyframes moveWave2 {
  from {
    transform: translateX(-1800px);
  }
}

.wave-3 {
  animation: moveWave3 3s 0.7s ease-in-out infinite alternate;
}

@keyframes moveWave3 {
  from {
    transform: translateX(-1600px);
  }
}
/*Tópicos: Maquete e Testes*/
.img{
  width: 100%;
  height: 100%;
  border-radius: 21px 21px 0 0;
}
@media screen and (max-width: 400px){ 
  .conteudo{
    display: flex;
    flex-wrap: wrap;
  }
  .flex{
  flex-wrap: wrap;
}
}
/*Parte final (Sobre nós e Outros Tópicos)*/
@media screen and (max-width: 400px){ 
  .imginicio{
    display: flex;
    flex-wrap: wrap;
  }
}
.margem{
  margin-left: 12px;
}
@media screen and (min-width: 400px){ 
  .margemb{
    margin-bottom: 5%;
  }
  .
}
.color{
   color: white;
}

/*Sobre nós*/
.border{
  border-radius: 0px;
}
.orientacao{
  display: flex;
  justify-content: flex-start;
}
/*Análise Objetiva*/
.box{
  padding-left: 7%;
  padding-right: 7%;
}
/*Projeto*/
.alinhamento{
  text-align:center;
}
.flex{
  display: flex;
}